* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea {
  font-family: inherit;
  font-weight: inherit;
}

img {
  width: 100%;
  height: 100%;
}

a {
  cursor: pointer;
}

address {
  font-style: normal;
}

/* original container for a full webpage */
.full-container {
  width: min(100%, 1470px);
  height: 100%;
  margin-inline: auto;
  padding-inline: 15px;
}

/* container for a webpage with margin of 120px from left and right compared to original container */
.container {
  width: min(100%, 1230px);
  height: 100%;
  margin-inline: auto;
  padding-inline: 15px;
}
