.subscribe {
  background: #ffb342;
}

.subscribe__wrap {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding: 141px 15px 52px;
}

.subscribe__desc {
  max-width: 410px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.subscribe__desc-title {
  color: #1c2752;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44.8px;
  letter-spacing: 0.36px;
}

.subscribe__desc-text {
  color: #1c2752;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.36px;
}

.subscribe__form {
  max-width: 570px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.subscribe__form-input {
  border: 2px solid #fff;
  color: #fff;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: 0.36px;
  padding: 20px 25px;
  background: transparent;
  outline: none;
}

.subscribe__form-input::placeholder {
  color: #fff;
}

.subscribe__form-btn {
  border: 2px solid #fff;
  background: #fff;
  color: #1c2752;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: 0.36px;
  padding: 20px 48px;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .subscribe__wrap {
    flex-direction: column;
    align-items: center;
  }
}
